
@import "mixins";
@import "variables";

:host{
    display: inline-block;
}

.card{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding:46px 30px ;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
}

.subtitle{
    font-size: 15px;
    line-height: 19px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
}

.price{
    display: inline-block;
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 10px;
    margin-right: 5px;
    vertical-align: middle;
}

.text-small{
    display: inline-block;
    font-size: 15px;
    line-height: 19px;
    font-weight: 400;
    color: rgba(33, 37, 41, 0.5);
    margin-left: 5px;
    vertical-align: middle;
}

.description{
    font-size: 15px;
    line-height: 19px;
    font-weight: 400;
    color: rgba(33, 37, 41, 0.5);
    text-align: center;
}

.list{
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items:center;
    gap:11px;
    align-self: flex-start;
    margin: 52px 0 45px;
}


.icons{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap:10px;
}

.icon{
    width: 25px;
    height: 25px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.list-item{
    display: flex;  
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    gap:16px;
}

.text{
    font-size: 15px;
    line-height: 19px;
    font-weight: 400;
    color: rgba(33, 37, 41, 1);
}