
<div class="heder">
    <div class="content">
        <div class="left">
            <div class="subtitle">WELCOME</div>
            <div class="title">Lorem ipsum dolor sit amet consectetur </div>
            <div class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit nemo hic quos, ab, dolor aperiam nobis cum est eos error ipsum, voluptate culpa nesciunt delectus iste?</div>
            <app-button [secondary]="true" button="Explore"></app-button>
        </div>
        <img class="image-heder" src="/assets/image-heder.png">
    </div>
</div>