
<app-section-with-title>
    <app-subtit-tit-descp [centrat]="true" title="Contact Us" description="Lorem ipsum, dolor sit amet consectetur adipisicing elit."></app-subtit-tit-descp>
    <div class="content">
        <div class="form">
            <label>Name</label>
            <input class="name" type="text">
            <label>Email</label>
            <input class="email" type="email">
            <label>Message</label>
            <textarea rows="3"></textarea>
            <app-button button="Submit"></app-button>
        </div>
        <div class="maps"></div>
    </div>
</app-section-with-title>

