
@import "mixins";
@import "variables";

:host{
    display: block;
}

.bar{
    padding: 50px 0;
    height: 120px;
    background-color: rgba(116, 198, 157, 1);
}

.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    @include latime;
}

.social-media{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap:20px;
}

.icon{
    height: 18px;
    cursor: pointer;
    &.icon:hover{
        filter: invert(100%);
    }
}

.text{
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}

@media screen and (max-width:$max-width-break-point) {
    .content{
        flex-direction: column;
        justify-content: center;
    }
}